#box{
    height: 25vh;
    width: 27vw;
    position: fixed;
    background-color: rgb(209, 17, 209);
    box-shadow: 0px 0px 8px 4px lightblue;
}

p{
    text-align: center;
    margin-top: 40%;
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
}