h1{
    margin-left:40%;
}

#outerDiv{
    width:70px;
    height:25px;
    border-radius:1rem;
    background-color:white;
    margin-left:50%;
    margin-top:10%;
    border:1px solid black;
    position:relative;
}

#circle{
    position:absolute;
    border-radius:100%;
    display:inline-block;
    width:23px;
    height:23px;
    background-color:black;
    margin-top:1px;
    margin-left:1px;
}
/* 
.toggled1 {
    background-color: black;
}

.toggled2{
    margin-left: -0.01px;
}

.toggled3{
    color: white;
} */